.post {
    background-color: rgb(185, 233, 185);
    max-width: 400px;
    border: 1px solid rgb(80, 155, 80);
    margin-bottom: 45px;
    padding: 10px;
}

.post_image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-top: 1px solid rgb(80, 155, 80);
    border-bottom: 1pc rgb(80, 155, 80);
}

.post_text{
    font-weight: normal;
    padding: 20px;
}

.post_header{ /*31:00*/
    display: inline-flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.post_avatar{
    margin-right: 10px;
}